.container{
    width:85%;
    margin: 0 auto;
}

.header_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    border-bottom: 1px solid rgb(214, 211, 211);;
}

.menu{
    display: flex;
    justify-content: space-around;
    width:60%;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: rgb(22, 112, 185);
    font-weight: 700;
}

.media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.media img{
    width: 18%;
}

.body_in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20%;
    margin-top: 2%;
}

.burger_in{
    height: 45px;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 220);
    border-radius: 10px;
}

.burger{
    width: 40%;
}
.call{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 20%;
}

.call p{
    color: grey;
}
.call h3{
    font-weight: 900;
}

.body_in input{
    margin-left: 5%;
    text-decoration: none;
    width: 40%;
    height: 40px;
    background-color: rgb(235, 235, 235);
    padding-left: 1%;
    border: none;
    border-radius: 10px;
}

.bucket_in h4{
    font-weight: 400;
    color: black;
}

.bucket_in h3{
    font-weight: 500;
    color: rgb(22, 112, 185);
}

.bucket{
    justify-content: end;
    display: flex;
}

.bucket img{
    margin-right: 5%;
    width: 15%;
}

.menu_body{
    display: flex;
    margin-top: 4%;

}

.menu_body a{
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.grey a{
    color: grey;
}

.singn_in{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singn_in img{
    width: 30%;
}

.singn_in h3{
    font-weight: 500;
}

.orders_in{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 15px rgb(117, 116, 116);
    padding-left: 1%;
    padding-right: 1%;
}

.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.order h2{
    font-weight: 200;
}

.order h4{
    font-weight: 100;
}

.btn{
    width: 55%;
    background-color: rgb(6, 112, 199);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}

.orders_in input{
    height: 25px;
    width: 18%;
}

.footer{
    display: flex;
    height: 600px;
}

.footer img{
    width: 50%;
}
.footer_in{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:center;
    background-color: rgb(0, 61, 112);
    width: 50%;
    color: white;
}

@media(max-width:1470px){
    .container{
        width:100%
    }
}

@media(max-width:1245px){
    .body_in input{
        margin-left: 5%;
        text-decoration: none;
        width: 35%;
        height: 40px;
        background-color: rgb(235, 235, 235);
        padding-left: 1%;
        border: none;
        border-radius: 10px;
    }
    .call{
        width: 30%;
    }
    .call h3{
        font-weight: 300;
        font-size: 15px;
    }
    .order{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .btn{
        width: 45%;
        background-color: rgb(6, 112, 199);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
    }
    .menu_body a{
        font-size: 18px;
    }
}
@media(max-width:970px){
    .menu{
        width: 80%;
    }
    .menu a{
        font-size: 16px;
    }
}
@media(max-width:760px){
    .body_in{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 20%;
        margin-top: 2%;
    }
    .body_in input{
        margin:  0;
        text-decoration: none;
        width: 35%;
        height: 40px;
        background-color: rgb(235, 235, 235);
        padding-left: 1%;
        border: none;
        border-radius: 10px;
    }
    .bucket{
        display: flex;
        justify-content: flex-start;
    }
    .order{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }
    .btn{
        width: 35%;
        background-color: rgb(6, 112, 199);
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
        font-size: 12px;
    }
    .call{
        width: 100%;
    }
    .burger_in{
        width: 50px;
    }
    .body_in input{
        width: 80%;
    }
    .menu_body a{
        font-size: 15px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer_in{
        width: 100%;
    }
    .footer img{
        width: 100%;
    }
    .menu{
        display: flex;
        justify-content: space-around;
        overflow: scroll;
        width: 100%;
    }
    .menu a{
        font-size: 10px;
    }
    .media{
        display: none;
    }
}

@media(max-width:550px){
    h1{
        font-size: 20px;
    }
    h2{
        font-variant: 17px;
    }
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 13px;
    }
    .orders_in{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .order{
        width: 100%;
    }
    .orders_in input{
        width: 70%;
    }
}